body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.chart {
  position: relative;
  width: 50vw;
}

.input span {
  position: absolute;
  margin-left: 10px;
}